<div>
  <h1>Cadastrar - Agendamento de Potenciais Clientes</h1>
  <h5>Sistema utilizado para agendamento de serviços.</h5>
  <table class="table table-responsive-md table-striped table-hover">
      <thead class="table-primary">
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Origem</th>
          <th>Data de Contato</th>
          <th>Observação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Silas Leite</td>
          <td>(11) 11111-1111</td>
          <td>Celular</td>
          <td>11/11/2000</td>
          <td>Observe isso</td>
          <td>
            <a href="/atualizar" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
          </td>
        </tr>
        <tr>
          <td>Salis Leite</td>
          <td>(11) 11111-1111</td>
          <td>Celular</td>
          <td>11/11/2000</td>
          <td>Observe isso</td>
          <td>
            <a href="/atualizar" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
          </td>
        </tr>
        <tr>
          <td>Maria Centis</td>
          <td>(11) 11111-1111</td>
          <td>Celular</td>
          <td>11/11/2000</td>
          <td>Observe isso</td>
          <td>
            <a href="/atualizar" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
          </td>
        </tr>
        <tr>
          <td>Frank Wilson</td>
          <td>(11) 11111-1111</td>
          <td>Celular</td>
          <td>11/11/2000</td>
          <td>Observe isso</td>
          <td>
            <a href="/atualizar" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
          </td>
        </tr>
        <tr>
          <td>Martine da Silva</td>
          <td>(11) 11111-1111</td>
          <td>Celular</td>
          <td>11/11/2000</td>
          <td>Observe isso</td>
          <td>
            <a href="/atualizar" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
          </td>
        </tr>
      </tbody>
    </table>
</div>