<div>
  <h1>Atualizar - Agendamento de Potenciais Clientes</h1>
  <h5>Sistema Utilizado para agendamento de serviços</h5>

  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputNome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputTelefone" class="form-label">Telefone</label>
      <input type="phone" class="form-control" id="inputTelefone">
    </div>
    <div class="col-md-6">
      <label for="inputOrigem" class="form-label">Origem</label>
      <select id="inputOrigem" class="form-select">
        <option selected>Celular</option>
        <option>Fixo</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputDataContato" class="form-label">Data do Contato:</label>
      <input type="date" class="form-control" id="inputDataContato" placeholder="mm/dd/yyyy">
    </div>
    <div class="col-md-6">
      <label for="inputObservacao" class="form-label">Observação</label>
      <textarea class="form-control" id="inputObservacao" rows="3"></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </form>
</div>